* {
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  /* padding: 0rem 2.5rem; */
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main-sub-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.875rem 2rem;
}
