.my-booking-container {
  display: flex;
  flex-direction: column;
  padding: 0.875rem 2rem;
  gap: 1rem;
}

.page-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #eff6ff, #e0e7ff);
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1100px;
  margin: auto;
  border-radius: 8px;
}

.header-section h1 {
  font-size: 1.3rem;
  color: #1e293b;
}
.header-section p {
  color: #475569;
  margin: 0.8rem 0rem;
}

.filter-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.filter-box {
  flex: 1;
}

.filter-box label {
  font-size: 14px;
  font-weight: 600;
  color: #334155;
  margin-bottom: 6px;
  display: block;
}

.filter-box select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 14px;
}

.booking-list {
  display: grid;
  gap: 20px;
}

.booking-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .booking-card {
    flex-direction: row;
  }
}

.left-section {
  /* background: linear-gradient(to bottom right, #3b82f6, #6366f1); */
  background: linear-gradient(to bottom right, #d63941, #b52d35);
  /* background: linear-gradient(to bottom right, #d63941, #f56570); */
  /* background: linear-gradient(to bottom right, #d63941, #b52d35); */

  color: white;
  padding: 20px;
  width: 100%;
}

.bus-title {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 12px;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: bold;
}

.icon {
  width: 20px;
  height: 20px;
}

.date-row {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  margin-bottom: 18px;
}

.route {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.point {
  display: flex;
  gap: 10px;
}

.label {
  font-size: 12px;
  color: #dbeafe;
}

.line {
  height: 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  margin-left: 12px;
}

.right-section {
  padding: 20px;
  width: 100%;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.user-icon {
  background: #dbeafe;
  padding: 10px;
  border-radius: 50%;
}

.user-info h3 {
  font-size: 20px;
  margin: 0;
}

.user-info p {
  font-size: 14px;
  color: #64748b;
}

.seat-type {
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
  background: #e9d5ff;
  color: #7e22ce;
}

.details-grid {
  margin-top: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.detail-item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.icon-sm {
  width: 16px;
  height: 16px;
  color: #64748b;
}

.label-sm {
  font-size: 12px;
  color: #64748b;
}

.id-icon {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border: 1px solid #64748b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64748b;
  border-radius: 4px;
}

.no-data {
  background: white;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  color: #6b7280;
}
